<header class=" header header-3">
  <div class="branding">
      <a href="..." class="nav-link">
          <!-- <clr-icon shape="vm-bug"></clr-icon> -->
          <clr-icon shape="world"></clr-icon>
          
          <span class="title">Green Matrimony</span>
      </a>
  </div>
  <div class="header-nav">
      <a href="/home" class="active nav-link"><span class="nav-text">Home</span></a>
      <a href="..." class="nav-link"><span class="nav-text">Registration</span></a>
      <a routerLink="/login" class="nav-link"><span class="nav-text">Login</span></a>
      <a href="..." class="nav-link"><span class="nav-text">Contact Us</span></a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a href="..." clrDropdownItem>About Us</a>
              <a href="..." clrDropdownItem>FAQ</a>
              <a href="..." clrDropdownItem>Help</a>
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>

