<footer class="footer">
    <div class="row">
      <div class="col-md-2">
        <h2><b>GitHub</b></h2>
      </div>
      <div class="col-md-2">
        <h2>Features</h2>
        <ul>
          <li><a href="#">code review</a></li>
          <li>project management</li>
          <li>documentation</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h2>Platform</h2>
        <li>atom</li>
        <li>GitHub desktop</li>
      </div>
      <div class="col-md-2">
        <h2>Community</h2>
        <li>open sources</li>
        <li>personal</li>
      </div>
      <div class="col-md-2">
        <h2>Company</h2>
        <li>about</li>
        <li>blog</li>
      </div>
      <div class="col-md-2">
        <h2>Resources</h2>
        <li>help</li>
        <li>status</li>
        <li>privacy</li>
        <li>terms</li>
      </div>
    </div>

</footer>