<div class="main-container">
  
  <app-header></app-header>
  <div class="content-container">
      <div class="content-area">
          ...content
          <div class="row">
            <div class="col-xs-4 grey "><span>4</span></div>
            <div class="col-xs-6 grey"><span>6</span></div>
            <div class="col-xs-2 grey"><span>2</span></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><span>4</span></div>
          <div class="col-xs-4"><span>4</span></div>
          <div class="col-xs-4"><span>4</span></div>
        </div>
          <div class="row">
            <div class="col-xs-6"><span>6</span></div>
            <div class="col-xs-6"><span>6</span></div>
          </div>
        <div class="row">
            <div class="col-xs-4"><span>4</span></div>
            <div class="col-xs-4"><span>4</span></div>
            <div class="col-xs-4"><span>4</span></div>
            </div>
            
            <div class="row">
              <div class="col-xs-3"><span>3</span></div>
              <div class="col-xs-3"><span>3</span></div>
              <div class="col-xs-3"><span>3</span></div>
              <div class="col-xs-3"><span>3</span></div>
            </div>
              <div class="row">
                  <div class="col-md-4 col-md-4 col-md-4 ">
                      <a href="..." class="card clickable">
                          <div class="card-img">
                              <img src="assets/img/f1.jpg" alt="yellow color" height="23" width="23" />
                              
                          </div>
                          <div class="card-block">
                              <p class="card-text">
                                  Yellow flowers represent friendship and filial love. Yellow flowers represent trust, compassion, and respect. For these reasons, yellow flowers are a popular choice at the workplace to show appreciation for a job well done. Yellow flowers, with their soft radiance, also communicate sympathy. These gentle flowers show your warmth and compassion and renew ties of friendship, even during difficult times. Yellow daffodils are great flowers for friends. Yellow lilacs and yellow chrysanthemums are beautiful, thoughtful flowers.
                              </p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-md-4 col-md-4 ">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="assets/img/f1.jpg" alt="yellow color" height="23" width="23" />
                                
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Yellow flowers represent friendship and filial love. Yellow flowers represent trust, compassion, and respect. For these reasons, yellow flowers are a popular choice at the workplace to show appreciation for a job well done. Yellow flowers, with their soft radiance, also communicate sympathy. These gentle flowers show your warmth and compassion and renew ties of friendship, even during difficult times. Yellow daffodils are great flowers for friends. Yellow lilacs and yellow chrysanthemums are beautiful, thoughtful flowers.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-md-4 col-md-4 ">
                            <a href="..." class="card clickable">
                                <div class="card-img">
                                    <img src="assets/img/f1.jpg" alt="yellow color" height="23" width="23" />
                                    
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Yellow flowers represent friendship and filial love. Yellow flowers represent trust, compassion, and respect. For these reasons, yellow flowers are a popular choice at the workplace to show appreciation for a job well done. Yellow flowers, with their soft radiance, also communicate sympathy. These gentle flowers show your warmth and compassion and renew ties of friendship, even during difficult times. Yellow daffodils are great flowers for friends. Yellow lilacs and yellow chrysanthemums are beautiful, thoughtful flowers.
                                    </p>
                                </div>
                            </a>
                        </div>
            </div>
      </div>
      
      
      <nav class="sidenav">
        <clr-icon shape="savings"></clr-icon> sidenav
      </nav>
  </div>
</div>
Basic Structu